 *{
    box-sizing: border-box;
 }

/* / HP */
body {
    background-color: #201658;
    
}
/* / Tablet */
@media screen and (min-width : 600px){
    body {
        background-color:  yellow;
    }
    .col-sm-6{
        width: 50%;
        float: left;
    }
    .col-lg-4{
        width: 100%;
        float: left;
    }
    .col-lg-12{
        width: 100%;
        float: left;
        border-radius: 20% 20% 30% 30%;
    }
    
}
/* / Dekstop */
@media screen and (min-width : 992px){
    body {
        background-color: green;
    }
    .col {
        width: 25%;
        background-color: yellow;
        float: left;
        padding: 10px;
    }
    .fo{
        float: left;
        background-color: #59B4C3;
        width: 33%;
    }
    .fa{
        float: left;
        background-color: #59B4C3;
        width: 50%;
        padding: 10px;
    }
    
}
.img-responsive {
    width: 100%;
}
.text-center{
    text-align: center;
}

.bg-primary{
    background-color: #7F27FF;
}
.rounded{
    border-radius: 50px;
}
.img-rounded{
    border-radius: 50% 50% 50% 50%;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}